<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-sm-2">
                <p><b>Product : Title</b></p>
                <p><b>Price :</b></p>
                <p><b>Size :</b></p>
    
            </div>
            <div class="col-sm-4"><img src="https://ii1.pepperfry.com/media/catalog/product/r/o/800x880/royal-wing-chair-in-blue-colour-by-dreamzz-furniture-royal-wing-chair-in-blue-colour-by-dreamzz-furn-pitcjr.jpg" alt="" class="img-responsive" style="max-height: 80px;"></div>
            
        </div>
    </div>
    </div>
    