<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-sm-2">
                <p><b>Product : Title</b></p>
                <p><b>Price :</b></p>
                <p><b>Size :</b></p>
    
            </div>
            <div class="col-sm-4"><img src="https://assets.architecturaldigest.in/photos/60084fc951daf9662c149bb9/master/pass/how-to-clean-gadgets-1366x768.jpg" alt="" class="img-responsive" style="max-height: 80px;"></div>
            
        </div>
    </div>
    </div>
    