<!-- 
<div class="container">
    <div class="row">
        <div class="col-xs-12" *ngFor="let category of categories">
            <div class="col-sm-2">
                <p><b>Size : {{ category['category']}}</b></p>   
                <p><b>Product : {{ category['title']}}</b></p>
                <p><b>Price : {{ category['price']}}</b></p>
                <p><b>Size : {{ category['size']}}</b></p>
    
            </div>
            <div class="col-sm-4"><img [src]= "category['image']" alt="" class="img-responsive" style="max-height: 80px;"></div>
           <br>
        </div> <br><br>
    </div>
    </div>
     -->